<form>
    <label for="library-card-number" class="ui-hidden-accessible">Library card number:</label>
    <input type="text" name="libraryCardNumber" id="library-card-number" value="" placeholder="Library card number" data-theme="a">

    <label for="last-name" class="ui-hidden-accessible">Last Name:</label>
    <input type="text" name="lastName" id="last-name" value="" placeholder="Last Name" data-theme="a">

    <label for="pin" class="ui-hidden-accessible">Pin:</label>
    <input type="text" name="pin" id="pin" value="" placeholder="Pin (Default 12345) " data-theme="a">

    <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Login</button>
</form>