<div data-role="header">
  <h1>Library</h1>
</div><!-- /header -->

<div role="main" class="ui-content">
<form>
  <label for="username" class="ui-hidden-accessible"><%= _.t('Username') %></label>
  <input type="text" name="username" id="username" value="" placeholder="<%= _.t('Username') %>">

  <label for="password" class="ui-hidden-accessible"><%= _.t('Password') %></label>
  <input type="password" name="password" id="password" value="" placeholder="<%= _.t('Password') %>">

  <button type="button" class="ui-btn ui-corner-all js-login"><%= _.t('Login') %></button>
</form>
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
  <h4>Åbo Akademi</h4>
</div><!-- /footer -->