<div data-role="header">
  <a href="#popupLogin" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all">Login</a>

  <h1>Alma</h1>

  <a href="#popupLanguage" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all">Language</a>
</div>

<div role="main" class="ui-content">
  <div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a">
      <h3>Search</h3>
    </div>
    <div class="ui-body ui-body-a">
      <form>
        <label for="search" class="ui-hidden-accessible">Search:</label>  
        <input type="search" name="query" id="search" value="" data-mini="true">
        <button class="ui-shadow ui-btn ui-corner-all" type="submit" id="submit-2">Submit</button>
      </form>
    </div>
  </div>
  <p></p>

  <div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a">
      <h3>Info</h3>
    </div>
    <div class="ui-body ui-body-a">
      <div class="ui-body ui-body-a">
        ASA Mon - Fri 09-17
      </div>
      <p></p>
      <div class="ui-body ui-body-a">
        ICT Mon - Fri 09-17
      </div>
      <p></p>
      <div class="ui-body ui-body-a">
        ARKEN Mon - Fri 09-17
      </div>
      <p></p>
      <div class="ui-body ui-body-a">
        Main Library Mon - Fri 09-17
      </div>
    </div>
  </div>

  <a href="#popupFaq" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all">FAQ</a>
  <a href="#popupNelli" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all">Nelli</a>
</div><!-- /content -->

<div data-overlay-theme="b" data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all">
  <form>
    <div style="padding:10px 20px;">
      <h3>Login</h3>
      <label for="library-card-number" class="ui-hidden-accessible">Library card number:</label>
      <input type="text" name="libraryCardNumber" id="library-card-number" value="" placeholder="Library card number" data-theme="a">

      <label for="last-name" class="ui-hidden-accessible">Last Name:</label>
      <input type="text" name="lastName" id="last-name" value="" placeholder="Last Name" data-theme="a">

      <label for="pin" class="ui-hidden-accessible">Pin:</label>
      <input type="text" name="pin" id="pin" value="" placeholder="Pin (Default 12345) " data-theme="a">

      <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Login</button>
    </div>
  </form>
</div>

<div data-role="popup" id="popupLanguage" data-theme="a" data-overlay-theme="b">
  <ul data-role="listview" data-inset="true" style="min-width:210px;">
      <li><a href="#">Suomeksi</a></li>
      <li><a href="#">På svenska</a></li>
      <li><a href="#">English</a></li>
  </ul>
</div>

<div data-role="popup" id="popupFaq" data-theme="a" data-overlay-theme="b">
  <div style="padding:10px 20px;">
    This is the content of FAQ popup
  </div>
</div>

<div data-role="popup" id="popupNelli" data-theme="a" data-overlay-theme="b">
  <div style="padding:10px 20px;">
    This is the content of Nelli popup
  </div>
</div>