<div class="ui-bar ui-bar-a">
  <h3>My account</h3>
</div>
<div class="ui-body ui-body-a">
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li class="ui-btn-active"><a class="ui-btn-active" href="#loans" data-ajax="false">My loans</a></li>
        <li><a href="#reservation" data-ajax="false">Reservation</a></li>
      </ul>
    </div>
    <div id="loans" class="ui-body-d ui-content js-loans">

    </div>
    <div id="reservation" class="ui-body-d ui-content js-reservation">

    </div>
  </div>
</div>